{% extends 'base.html.twig' %}

{% block title %}Hello TapeController!{% endblock %}

{% block body %}
      <h1>Inventory</h1>

      {% dump Inventory %}

      <table class="table">
           <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                {% for tape in Inventory.tapes %}
                <tr>
                    <td> <a href="{{ path('tape_show', { 'id': tape.id }) }}">{{ tape.id }}</a> </td>
                    <td>{{ tape.name }}</td>
                    <td>{{ tape.year }}</td>
                    <td>{{ tape.artist }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>

        <a href="{{ path('inventory_list') }}">Back to the list</a>
{% endblock %}
