{% extends 'base.html.twig' %}

{% block title %}Hello TapeController!{% endblock %}

{% block body %}
      <h1>Inventory</h1>

      {% dump inventory %}

      <table class="table">
           <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Artist</th>
                    <th>Likes</th>
                </tr>
            </thead>
            <tbody>
                {% for tape in inventory.tapes %}
                <tr>
                    <td> <a href="{{ path('tape_show', { 'id': tape.id, 'page': 'inventory', 'id_page': inventory.id}) }}">{{ tape.name }}</td>
                    <td>{{ tape.year }}</td>
                    <td>{{ tape.artist }}</td>
                    <td>{{ tape.likes }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>

      <button onclick="history.back()" class="btn btn-secondary">back</button>

{% endblock %}
