{% extends 'base.html.twig' %}

{% block title %}{{ member.name }}'s Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ member.name }}</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Email:</strong> {{ member.user.email }}</p>
                        <p><strong>Password:</strong> <span id="password" style="display:none">{{ member.user.password }}</span><button id="show-password" class="btn btn-primary btn-sm">Show</button></p>
                        <p><strong>Joined:</strong> {{ member.creation|date('F j, Y') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class='card'>
                    <div class="card-header">
                        <h3 class="card-title">My inventory</h3>
                    </div>
                    <div class="card-body">
                        {% for inventory in member.inventory %}
                            {% if inventory.tapes|length > 0 %}
                                <h4>{{ inventory.name }}</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Artist</th>
                                            <th>Year</th>
                                            <th>Likes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tape in inventory.tapes %}
                                            <tr>
                                                <td> <a href="{{ path('tape_show', { 'id': tape.id }) }}">{{ tape.name }}</a> </td>
                                                <td>{{ tape.artist }}</td>
                                                <td>{{ tape.year }}</td>
                                                <td>{{ tape.likes }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>{{ inventory.name }} is empty</p>
                            {% endif %}
                        {% endfor %}
                        <a href="{{ path('app_tape_new', {'memberId': member.id}) }}" class="btn btn-primary float-right">New Tape</a>
                        <a href="{{ path('app_inventory_edit', {'id': member.inventory[0].id}) }}" class="btn btn-primary float-right" style="margin-right: 10px">Edit Inventory</a>
                    </div>
                </div>
                <div class='card' style="margin-top: 20px">
                    <div class="card-header">
                        <h3 class="card-title">My galleries</h3>
                    </div>
                    <div class="card-body">
                        {% for gallery in member.galleries %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Published</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <a href="{{ path('app_gallery_show', { 'id': gallery.id }) }}">{{ gallery.name }}</a> </td>
                                        <td>{{ gallery.description }}</td>
                                        <td>
                                            <input type="checkbox" class="published-checkbox" data-gallery-id="{{ gallery.id }}" {% if gallery.published %} checked {% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <p>No gallery</p>
                        {% endfor %}
                        <a href="{{ path('app_gallery_new', {'memberId': member.id}) }}" class="btn btn-primary float-right">New Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.published-checkbox').change(function() {
                fetch('/gallery/' + this.dataset.galleryId + '/publish', {
                    method: 'POST',
                    body: JSON.stringify({ published: this.checked }),
                    headers: { 'Content-Type': 'application/json' }
                });
            });
        });
        $(document).ready(function() {
            $('#show-password').click(function() {
                $('#password').toggle();
                if ($('#password').is(':visible')) {
                    $(this).text('Hide');
                } else {
                    $(this).text('Show');
                }
            });
        });
    </script>
{% endblock %}
