{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col">
            {{ form_row(form.artist) }}
            {{ form_row(form.year) }}
        </div>
    </div>
    <button class="btn btn-primary" style="margin-top:10px; margin-right:10px">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
