{% extends 'base.html.twig' %}

{% block title %}Hello TapeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ vich_uploader_asset(Tape, 'imageFile') }}" class="img-fluid" alt="{{ Tape.name }}">
            </div>
            <div class="col-md-6">
                <h1 class="display-4">{{ Tape.name }}</h1>
                <p class="lead">{{ Tape.artist }} - {{ Tape.year }}</p>
                <p class="lead" id="likeText"> {{ Tape.likes }} likes</p>
                {% if app.user %}
                    <p class="lead">User: </h2>
                    <a href="{{ path('app_member_show', {'id': Tape.inventory.member.id}) }}" class="btn-outline-primary" style="margin: 10px">{{ Tape.inventory.member.name }}</a>
                    {% if user_has_liked_tape %}
                        <div style="display: flex; align-items: center;">
                            <i class="bi bi-heart-fill" id="likeIcon" style="color:red; font-size: 1.5em; padding: 0 10px;"></i>
                            <button class="btn btn-primary" id="likeButton" onclick="dislikeTape2({{ Tape.id }})" style="width: 80px;">Dislike</button>
                        </div>
                    {% else %}
                        <div style="display: flex; align-items: center;">
                            <i class="bi bi-heart" id="likeIcon" style="color:red; font-size: 1.5em; padding: 0 10px;"></i>
                            <button class="btn btn-primary" id="likeButton" onclick="likeTape1({{ Tape.id }})" style="width: 80px;">Like</button>
                        </div>
                    {% endif %}
                {% endif %}
                <hr class="my-4">
                <form>
                    {% if app.user and Tape.inventory.member.User == app.user %}
                    <a href="{{ path('app_tape_edit', {'id': Tape.id}) }}" class="btn btn-primary">edit</a>
                    {{ include('tape/_delete_form.html.twig') }}
                    {% endif %}
                    <button onclick="history.back()" class="btn btn-secondary">back</button>
                </form>                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let icon = document.querySelector('ion-icon');
        icon.onclick = function(){
            icon.classList.toggle('active');
        }

        function likeTape1(tapeId) {
            fetch(`/tape/${tapeId}/likes`, {
                method: 'POST',
            }).then(
                document.getElementById('likeButton').innerHTML = 'Dislike',
                document.getElementById('likeIcon').className = 'bi bi-heart-fill',
                document.getElementById('likeIcon').style.color = 'red',
                document.getElementById('likeButton').onclick = function() { dislikeTape1(tapeId) },
                document.getElementById('likeText').innerHTML = '{{ Tape.likes + 1 }} likes'
            );
        }
        
        function dislikeTape1(tapeId) {
            fetch(`/tape/${tapeId}/dislikes`, {
                method: 'POST',
            }).then(
                document.getElementById('likeButton').innerHTML = 'Like',
                document.getElementById('likeIcon').className = 'bi bi-heart',
                document.getElementById('likeButton').onclick = function() { likeTape1(tapeId) },
                document.getElementById('likeText').innerHTML = '{{ Tape.likes }} likes'
            );
        }

        function likeTape2(tapeId) {
            fetch(`/tape/${tapeId}/likes`, {
                method: 'POST',
            }).then(
                document.getElementById('likeButton').innerHTML = 'Dislike',
                document.getElementById('likeIcon').className = 'bi bi-heart-fill',
                document.getElementById('likeIcon').style.color = 'red',
                document.getElementById('likeButton').onclick = function() { dislikeTape2(tapeId) },
                document.getElementById('likeText').innerHTML = '{{ Tape.likes }} likes'
            );
        }
        
        function dislikeTape2(tapeId) {
            fetch(`/tape/${tapeId}/dislikes`, {
                method: 'POST',
            }).then(
                document.getElementById('likeButton').innerHTML = 'Like',
                document.getElementById('likeIcon').className = 'bi bi-heart',
                document.getElementById('likeButton').onclick = function() { likeTape2(tapeId) },
                document.getElementById('likeText').innerHTML = '{{ Tape.likes - 1 }} likes'
            );
        }
    </script>
{% endblock %}
