{% extends 'base.html.twig' %}

{% block title %}Hello TapeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ vich_uploader_asset(Tape, 'imageFile') }}" class="img-fluid" alt="{{ Tape.name }}">
            </div>
            <div class="col-md-6">
                <h1 class="display-4">{{ Tape.name }}</h1>
                <p class="lead">{{ Tape.artist }} - {{ Tape.year }}</p>
                <p class="lead"> {{ Tape.likes }} likes</p>
                <hr class="my-4">
                <a href="{{ path('app_tape_edit', {'id': Tape.id}) }}" class="btn btn-primary">Edit</a>
                {{ include('tape/_delete_form.html.twig') }}
                {% if back_route_params != -1 %}
                    <a href="{{ path(back_route, back_route_params) }}" class="btn btn-secondary">Back to {{ back_route|slice(4, -5) }}</a>
                {% else %}
                    <a href="{{ path(back_route) }}" class="btn btn-secondary">Back to {{ back_route|slice(4, -5) }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
