{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gallery.description }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ gallery.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tapes</th>
                <td>
                {% for tape in gallery.tapes %}
                    <a href="{{ path('tape_show', {'id': tape.id, 'page': 'gallery', 'id_page': gallery.id}) }}">{{ tape.name }}</a><br>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gallery_index') }}">back to list</a>

    <a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">edit</a>

    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}
