{% extends 'base.html.twig' %}

{% block title %}MyTapes - Tape Collection and Trade{% endblock %}

{% block main %}

    <div class="jumbotron">
        <h1 class="display-4">Welcome to MyTapes!</h1>
        <p class="lead">The best place to buy, sell, and trade cassette tapes.</p>
        <hr class="my-4">
        <p>Explore our collection of rare and vintage tapes, or list your own for sale or trade.</p>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <h2>Featured Tapes</h2>
            <p>Check out some of our most popular tapes:</p>
            <ul>
                {% for tape in tapes %}
                    <li><a href="{{ path('tape_show', {'id': tape.id}) }}">{{ tape.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Show Off Your Collection</h2>
            <p>List your tapes and share with a wider audience:</p>
            <ul>
                <li><a href="{{ path('app_register') }}">Create an Account</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_inventory_show', {'id': inventoryId}) }}">List Your Tapes</a></li>
                    <li><a href="{{ path('app_profile_show') }}">Manage Your Listings</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Explore our Community</h2>
            <p>Connect with other tape collectors:</p>
            <ul>
                <li><a href="{{ path('app_gallery_index') }}">Browse Member's Collections</a></li>
                <li><a href="#">Find Tapes to Trade</a></li>
                <li><a href="#">Join the Discussion</a></li>
            </ul>
        </div>
    </div>

{% endblock %} {# main #}
